
.about{
  text-align: center;
  margin-top: 63px;
}

.nav-contact-icons2{
  margin: 25px 0 38.2px 0;
}

@media (min-width: 992px){
  .nav-contact-icons2{
    display: none;
  }
}

@media (min-width:992px) {
  .about-main{
    position: relative;
    text-align: left;
    height: 900px;
    width:100%;
  }
}

.about-photo{
  width: 100%;
}

@media (min-width:500px) {
  .about-photo{
    display: none;
  }
}

.tablet-about-photo{
  /* height: 365px; */
  width: 100%;
}

@media (max-width:500px) {
  .tablet-about-photo{
    display: none;
  }
}

@media (min-width:996px) {
  .tablet-about-photo{
    display: none;
  }
}

.web-aph{
  text-align: center;
}

.web-about-photo{
  text-align: center;
  width: 70%;
  margin: 140px 0 0 0;
  padding-top: 30px;
}

@media (max-width:996px) {
  .web-about-photo{
    display: none;
  }
}

.h2-about{
  /* margin: 10px 0 0 93px; */
  font-family: "myFont", "Gill Sans", sans-serif;
  font-size: 30px;
  font-weight:600;
  position: relative;
  bottom: 7px;
  z-index:1;
}

@media (min-width:996px) {
  .h2-about{
    position: relative;
    bottom: 0px;
    z-index:0;
  }
}

.about-text1{
  width: 100%;
  position: relative;
  z-index: 1;
}

@media (min-width:996px) {
  .about-text1{
    position: absolute;
    width: 55%;
    top: 167px;
    left:44%;
  }
}

.about-p1{
  font-family: "myFont", "Minion Pro", serif;
  font-size: 20px;
  font-weight:normal;
  line-height: 30px;
  padding:14px 37px 45px 37px;
}

@media (min-width:768px) {
  .about-p1{
  padding:14px 93px 45px 93px;
  }
}

@media (min-width:996px) {
  .about-p1{
    font-weight:normal;
    line-height: 34px;
    padding:14px 93px 0 0;
  }
}

@media (min-width:996px) {
  .about-text2{
    text-align: right;
    width: 333px;
    position: absolute;
    z-index: 1;
    top: 630px;
    right: 68.8%;
  }
}

@media (max-width:996px) {
  .about-text2{
    display: none;
  }
}

@media (min-width:996px) {
  .about-p2{
    font-family: "myFont", "Minion Pro", serif;
    font-size: 20px;
    font-weight:200;
    line-height: 34px;
  }
}

@media (min-width:996px) {
  .web-transition-button{
    background-color: white;
    border: 0.1px solid #676260;
    font-family: "myFont", "Gill Sans MT Pro", serif;
    font-size: 11px;
    font-weight:bold;
    color: #7B7B7B;
    text-decoration:none;
    padding: 10px 20px 8px 20px;
    position: relative;
    top: 21px;
  }
}

.web-transition-button:hover{
  border-width: 0px;
  background-color: black;
  color: white;
}

/* TRACNSITION */

.transition-section{
  text-align:center;
}

@media (min-width:992px) {
  .transition-section{
    display: none;
  }
}

.transition-button{
  background-color: white;
  border: 0.1px solid #676260;
  font-family: "myFont", "Gill Sans MT Pro", serif;
  font-size: 11px;
  font-weight:bold;
  color: #7B7B7B;
  text-decoration:none;
  padding: 10px 20px 8px 20px;
  position: relative;
  top: 58px;
}

@media (min-width:510px){
  .transition-button{
    top: 35px;
  }
}

.transition-button:hover{
  border-width: 0px;
  background-color: black;
  color: white;
}

.transition-image{
  width: 375px;
  height: 177px;
  width: 100%;
  position:relative;
  z-index: -1;
}

@media (min-width:768px) {
  .transition-image{
    display: none;
  }
}

.tablet-transition-image{
  width: 375px;
  height: 177px;
  width: 100%;
  position:relative;
  z-index: -1;
}

@media (max-width:768px) {
  .tablet-transition-image{
    display: none;
  }
}

@media (min-width:996px) {
  .tablet-transition-image{
    display: none;
  }
}

.transition-text{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-size: 12px;
  font-weight:400;
  color: white;
  line-height: 22px;
  position: relative;
  top: 130px;
  width: auto;
  padding: 0 25px 8px 25px;
}

@media (min-width:996px) {
  .transition-text{
    display: none;
  }
}
