.contact{
  max-width: 768px;
  margin: 130px auto 0 auto;
}

@media (max-width: 992px){
  .contact{
    margin: 30px auto 0 auto;
  }
}

.contact-text-div{
  width: 100%;
}

.contact-h3{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-size: 21px;
  font-weight:600;
  padding: 60.2px 0 15.4px 40.5px;
}

.contact-text{
  font-family: "myFont", "Minion Pro", serif;
  font-size: 20px;
  font-weight:normal;
  line-height: 30px;
  padding: 0 38.6px 59.3px 40.5px;
}

.dots {
  color: #E9EFF5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 270px;
  width: 100%;
  z-index: -10;
}

@media (min-width: 740px){
  .dots{
    color: #252423;
    margin-top: 180px;
  }
}

@media (min-width: 996px){
  .dots{
    color: #252423;
    margin-top: 120px;
  }
}

.animation-wrapper {
  width: 80%;
  padding-bottom: 40%;
}

.stagger-visualizer {
  position: absolute;
  width: 1100px;
  height: 550px;
  transform-origin: left top;
}

.stagger-visualizer .dots-wrapper {
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stagger-visualizer .dot {
  position: relative;
  z-index: 1;
  width: 23px;
  height: 23px;
  margin: 16px;
  background-color: currentColor;
  border-radius: 50%;
}

@media (min-width: 740px) {
  .stagger-visualizer .dot {
    background-color: transparent;
    background-image: linear-gradient(180deg, #E9EFF5 8%, #D3E0EB 100%);
  }
}

.stagger-visualizer .cursor {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 37px;
  margin: 9px;
  background-color: currentColor;
  border-radius: 50%;
}

.contact-images{
  text-align: right;
}

.contact-images-sea{
  height: 250px;
  width: auto;
}

@media (min-width: 520px){
  .contact-images{
    text-align: center;
  }
}

.contact-bottom{
  text-align: center;
  font-family: "myFont", "Gill Sans", sans-serif;
  font-size: 10px;
  font-weight:lighter;
  line-height: 11px;
  margin:22px auto 0 auto;
}

.cantact-address{
  padding: 40px 0 47px;
}

.ring{
  background-color: #E9EFF5;
  width: 100%;
  height: 90px;
  margin-top: auto;
}

.circle {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 50%;
   }

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 3px;
  height: 100%;
  margin-top: 250px;
}

.el {
  position: absolute;
  opacity: 1;
  width: 1px;
  height: 2vh;
  margin-top: -12vh;
  transform-origin: 50% 100%;
  background: white;
}
