.footer-nav{
  background-color: white;
}

.footer-nav-list{
  color: #A7A7A7;
  list-style: none;
  text-align: center;
  padding: 12px 0 19.5px 0;
  border-bottom: 0.05px solid #909090;
}

.footer-nav-name{
  font-family: "myFont", "Gill Sans", sans-serif;
  color: #A7A7A7;
  font-weight:normal;
  font-size: 8px;
  display: inline-block;
  padding: 0 12px 0 12px;
}

.footer{
  background-color: white;
  text-align:center;
  margin: 20px auto 12px auto;
  padding: 20px 0 12px 0;
}

.bot-nav-name{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight:normal;
  font-size: 11px;
  display: inline-block;
}

@media (min-width: 992px){
  .bot-nav-name{
    font-size: 12px;
  }
}

.footer-nav-link{
  color: #909090;
  text-decoration: none;
  padding: 0 5px;
}

.footer-nav-link:hover{
  color: #555555;
  text-decoration: none;
}

@media (min-width: 992px){
  .footer-nav-link{
    padding: 0 25px;
  }
}
