body{
  text-align: center;
}

.gallery-main{
  margin-bottom: 0;
}

.sea-bg{
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -10;
}

@media (min-width: 992px){
  .sea-bg{
    display: none;
  }
}

.web-sea-bg{
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}

@media (max-width: 992px){
  .web-sea-bg{
    display: none;
  }
}

.web-sea-image{
  width: 25%;
  margin-top: 167px;
  position: relative;
}

@media (max-width: 992px){
  .web-sea-image{
    display: none
  }
}

.gallery-contact-icons{
  position: relative;
  z-index: 10;
  margin-top: 88px;
}

@media (min-width: 992px){
  .gallery-contact-icons{
    display: none;
  }
}

@media (min-width: 992px){
  br{
    display: none;
  }
}

.golden-logo{
  position: relative;
  z-index: 2;
  margin-top: 209px;
}

@media (min-width: 992px){
  .golden-logo{
    display: none;
  }
}

.h1{
  color:#25211F;
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight: 600;
  font-size: 28px;
  padding-top: 50px;
}

@media (min-width: 992px){
  .h1{
    display: none;
  }
}

.gallery{
  background-color: white;
}

@media (min-width:992px) {
  .gallery{
    margin-bottom: 80px;
  }
}

.gallery-nav{
  color: #25211F;
  list-style: none;
  text-align: center;
  padding: 36px 0 39px 5px;
}

@media (min-width: 992px){
  .gallery-nav{
    padding: 0 0 69px 5px;
  }
}

.gallery-list{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight:normal;
  font-size: 10px;
  display: inline-block;
  padding: 0 8px 0 4px;
  border-right: 1px solid black;
}

.gallery-list:last-child{
  border:none;
}

.list-link{
  color: #25211F;
  text-decoration: none;
}

@media (min-width: 992px){
  .gallery-list{
    font-size: 12px;
    padding: 0 20px 0 16px;
  }
}

.mobile-arrow{
  margin-bottom: 80px;
}

@media (min-width: 774px){
  .mobile-arrow{
    display: none;
  }
}

.web-arrow{
  color: #25211F;
  text-decoration: none;
}

@media (max-width: 774px){
  .web-arrow{
    display: none;
  }
}

.list-link:hover{
  color:#BCBCBC;
  text-decoration: none;
}

// BGM

.gallery-bgm{
  background-color: white;
  margin: 0 auto 35px auto;
}

@media (max-width: 992px){
  .gallery-bgm{
    margin: 0 auto;
  }
}

.bgm-h{
  color: #25211F;
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 82px 0 30px 0;
}

.bgm{
  width: 25%;
}

@media (max-width: 992px){
  .bgm{
    width: 100%;
  }
}

/* IMAGES */

.image-gallery-blue{
  background-color: #E9EFF5;
}

@media (max-width: 992px){
  .image-gallery-blue{
    background-color: white;
  }
}

.image-gallery-white{
  justify-content: center;
}

.image-container{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

@media (min-width: 992px){
  .tran{
    transition:  0.3s ease-in-out;
  }

  .tran:hover{
    transform: scale(1.5);
  }
}

.gallery-images{
  width: 100%;
  padding: 6px 0;
}

@media (min-width: 600px){
  .gallery-images{
    width: 70%;
  }
}

@media (min-width: 992px){
  .gallery-images{
    width: 200px;
    padding: 0;
  }
}

.h2{
  color: #25211F;
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding: 82px 0 64px 0;
}

.h3{
  color: #A7A7A7;
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight: normal;
  font-size: 10px;
  padding: 16px 0 120px 0;
}

@media (max-width: 992px){
  .h3{
    display: none
  }
}
