
.location{
  width: 100%;
  margin: auto auto 50px auto;
}

@media (max-width: 992px){
  .location{
    display: none;
  }
}

.location-bg{
  width: 100%;
  height: 350px;
  position: absolute;
  z-index: -1;
  left: 0;
}

.location-main{
  position: relative;
  text-align: center;
}

.location-text-wrapper{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.h4{
  width: 100%;
  font-family: "myFont", "Gill Sans", sans-serif;
  font-size: 21px;
  font-weight:500;
  color:white;
  text-transform: uppercase;
  padding: 60px 0 15px 0;
  opacity: 90%;
}

.location-text{
  font-family: "myFont", "Minion Pro", serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 25px;
  color: white;
  width: 60%;
  margin: 0 auto;
  opacity: 75%;
}

.location-button{
  background-color: white;
  font-family: "myFont", "Gill Sans MT Pro", serif;
  font-size: 11px;
  font-weight:bold;
  color: #7B7B7B;
  text-transform: uppercase;
  text-decoration:none;
  padding: 10px 20px 8px 20px;
  position: relative;
  z-index: 5;
  top: 25px;
}

.location-button:hover{
  border-width: 0px;
  background-color: black;
  color: white;
}
