header{
  text-align: center;
}

.web-nav{
  background-color: white;
  position: fixed;
  top:0;
  height: 43px;
  width:100%;
  padding-top: 5px;
  z-index: 10;
}

@media (min-width: 992px){
  .web-nav{
    position: static;
    height: 90px;
    width: 100%;
  }
}

.nav-list{
  color: #909090;
  list-style: none;
  text-align: center;
  padding: 37px 0 39px 0;
}

@media (max-width:992px){
  .nav-list{
    display: none;
  }
}

.nav-name{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight:normal;
  font-size: 12px;
  display: inline-block;
}

.nav-link{
  color: #909090;
  text-decoration:none;
}

.nav-link:hover{
  color: #555555;
}

.nav-hum{
  position: fixed;
  top: 20px;
  right: 24px;
}

@media (min-width: 992px){
  .nav-hum{
    display: none;
  }
}

.header-logo-wrapper{
  width: 100%;
}

.header-logo-ani{
  width: 90%;
  margin: 0 auto;
}

.header-logo{
  padding-top: 40px;
}

@media (min-width: 992px){
  .header-logo{
    padding-top: 0px;
  }
}

// SUB NAV

.nav{
  /* background-color: white; */
  position: fixed;
  top:0;
  height: 43px;
  width:100%;
  padding-top: 5px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 992px){
  .nav{
    height: 90px;
  }
}

@media (max-width: 992px){
  .nav-left{
    width: 50px;
    height: 100%;
    line-height: 43px;
    align-items: flex-start;
  }
}

@media (min-width: 992px){
  .nav-left{
    // width: auto;
  }
}

.nav-arrow{
  width: 16px;
  height: 16px;
  // margin: 10px 20px;
  margin-left: 10px;
}

@media (min-width: 992px){
  .nav-arrow{
    display: none;
  }
}

.nav-name{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight:normal;
  font-size: 11px;
  display: inline-block;
  padding: 0 10px;
}

.nav-ul{
  color: #25211F;
  list-style: none;
  margin-left: 68px;
}

@media (max-width: 992px){
  .nav-ul{
    display: none;
  }
}

.sub-nav-link{
  color: #25211F;
  text-decoration:none;
}

.sub-nav-link:hover{
  color: #909090;
}

@media (min-width: 992px){
  .nav-middle{
    text-align: center;
    width: calc(100% - 800px);
  }
}

.nav-logo{
  height: 43px;
  width: auto;
  margin-left: 35px;
}

@media (min-width: 992px){
  .nav-logo{
    height: 80px;
    margin: 0 375px 0 0;
  }
}

.nav-right{
  text-align: right;
  height: 100%;
  line-height: 100%;
}

@media (max-width: 992px){
  .nav-right{
    width: 80px;
  }
}

.nav-contact-icons{
  position: fixed;
  top: 40px;
  right: 67.6px;
}

@media (max-width: 992px){
  .nav-contact-icons{
    display: none;
  }
}
