$gutter:16px;

body {
  transition: transform 500ms ease-in-out;
  &.open-menu {
   transform: translateX(200px);
  }
}

.sidebar{
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transform: translateX(-200px);
}

.sidebar-btn{
  width: 20px;
  margin: $gutter;
  position: absolute;
  right: 0;
}

.sidebar-img{
  width: 100%;
}

.sidebar-nav{
  padding: 0 $gutter*2;
  list-style-type: none;
}

.sidebar-list{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight:normal;
  font-size: 12px;
  color: #25211F;
  text-transform: uppercase;
  padding: 30px 0;
  margin: 0 0 $gutter/2 0;
  border-bottom: 0.3px solid #B2B2B2;
}

.sidebar-list:last-child{
  border:none;
}

.sidebar-link{
  text-decoration: none;
}

.sidebar-list:hover{
  color: #909090;
  text-decoration: none;
}

.sidebar-icons{
  margin: 200px auto 30px auto;
}
