
.works{
  text-align: center;
  margin:0 auto 50px auto;
}

@media (min-width:996px){
  .works{
    margin:100px auto;
  }
}

.works-mobile-bg{
  width: 100%;
  position: absolute;
  left: 0;
  top: 90px;
  z-index: -10;
}

@media (min-width:996px){
  .works-mobile-bg{
    display: none;
  }
}

.works-h{
  color:#25211F;
  font-family: "myFont", "Gill Sans", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  padding-top: 80px;
  text-transform: uppercase;
}

@media (min-width:996px){
  .works-h{
    display: none;
  }
}

.works-cha{
  width:45%;
  margin-top: 90px;
}

@media (min-width:996px){
  .works-cha{
    display: none;
  }
}

.works-bg{
  width: 72%;
  background-color: white;
  margin: 115px 30px 0 auto;
}

@media (max-width:996px){
  .works-bg{
    display: none;
  }
}

.works-img-part{
  margin-top: 58px;
  background-color: #E9EFF5;
  text-align: center;
}

@media (min-width:996px){
  .works-img-part{
    margin-top: 68px;
  }
}

.works-main{
  text-align: center;
  margin:0 auto 50px auto;
}

@media (min-width:996px){
  .works-main{
    margin:100px auto;
  }
}

.works-img{
  background-color: #E9EFF5;
  width: 100%;
  margin: 80px auto 20px auto;
}

@media (min-width:996px){
  .works-img{
    width: 64%;
    margin: 80px auto 30px auto;
  }
}

.h5{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-size: 17px;
  font-weight:600;
  text-transform: uppercase;
}

.works-text{
  font-family: "myFont", "Minion Pro", serif;
  font-size: 17px;
  line-height: 25px;
  margin: 12px auto;
  padding-bottom: 30px;
  width: 70%;
}

@media (min-width:996px){
  .works-text{
    font-size: 20px;
    line-height: 30px;
    margin: 10px auto;
    width: 60%;
  }
}
