@import "~bootstrap/scss/bootstrap";
@import "vendors/_slick.scss";
@import "vendors/_slick-theme.scss";
@import "reset.scss";
@import "_nav.scss";
@import "_footer.scss";
@import "_works.scss";
@import "_about.scss";
@import "_contact.scss";
@import "_gallery.scss";
@import "_location.scss";
@import "_sidebar.scss";

@font-face {
  font-family: "myFont";
  src: url("myFont.woff");
  font-weight: normal;
  font-style:normal;
}

body{
  width: 100%;
}

/* HOME */

.home{
  text-align: center;
  margin-top: 30px;
}

.home-image-section{
  margin-top: 30px;
}

.home-character{
  height: 302px;
  padding-top: 28px;
}

@media (min-width: 992px){
  .home-character{
    display: none;
  }
}

.web-home-character{
  width: 270px;
  padding-top: 100px;
}

@media (max-width: 992px){
  .web-home-character{
    display: none;
  }
}

.phone-photo-bg{
  position:absolute;
  left:0px;
  height: 500px;
  width: 81%;
  z-index:-5;
}

@media (min-width: 992px){
  .phone-photo-bg{
    height: 650px;
    width: 91%;
    z-index:-5;
  }
}

.home-sea{
  height: 600px;
  position: absolute;
  z-index: -1;
  top:350px;
  right: 830px;
}

@media (max-width: 1500px){
  .home-sea{
    left:0;
    right: auto;
  }
}

@media (max-width: 1200px){
  .home-sea{
    display: none;
  }
}

.home-icons{
  margin: 200px 62.8px 0 62px;
  width: 15px;
  position: absolute;
  right: 0;
}

@media (max-width: 992px){
  .home-icons{
    display: none;
  }
}

.h2-hello{
  font-family: "myFont", "Gill Sans", sans-serif;
  font-size: 28px;
  font-weight:600;
  text-align: center;
  position: relative;
  bottom: 14px;
}

.home-text{
  font-family: "myFont", "Minion Pro", serif;
  font-size: 18px;
  font-weight:normal;
  line-height: 30px;
  margin:19px auto;
}

@media (min-width: 768px){
  .home-text{
    font-family: "myFont", "Minion Pro", serif;
    font-size: 22px;
    font-weight:200;
    line-height: 30px;
    margin:19px auto;
  }
}

.home-button{
  text-align: center;
  background-color: white;
  border: 0.1px solid #676260;
  font-family: "myFont", "Gill Sans MT Pro", serif;
  font-size: 11px;
  font-weight:bold;
  color: #7B7B7B;
  text-decoration:none;
  padding: 10px 20px 8px 20px;
  margin-bottom: 83px;
}

.home-button:hover{
  border-width: 0px;
  background-color: black;
  color: white;
}
